select {
    padding: 0 0 0 6% !important;
}

table{
    background: rgba(255, 255, 255, 0.39);
}

form{
    margin-bottom: 0;
}

button{
    cursor: pointer;
}

.form-group{
    margin-bottom: 0;
}

.btn-add{
    margin-top: 29px;
}

.background{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(8px);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}