<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-8 col-xl-4 col-md-6 col-lg-5 mx-auto">
            <br>
            <h2>All Deposits</h2>
            <hr>
            <form (ngSubmit)="onSubmit()" #depositForm="ngForm" novalidate>
                <table>
                    <thead>
                        <tr>
                            <th class="text-center">Operation</th>
                            <th class="text-center">Value</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center w-25 p-3">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>D</option>
                                        <option>W</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center w-50 p-3">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="R$">
                                </div>
                            </td>
                            <td class="text-center w-25 p-3">
                                <div class="form-group"><button class="btn btn-success">+</button></div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>